
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background: #000434;  /* fallback for old browsers */
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body.loaded {
    overflow: auto;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

section .container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
}

section.one .container {
    grid-template-areas: 'content ..'
}

section.two .container {
    grid-template-areas: '.. content'
}

.hero {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    line-height: 100px;
    font-weight: 700;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    font-family: inherit;
    display: block;
    width: 100%;
}
h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    display: block;
    width: 100%;
}

.text-xl{
    font-size: 1.25rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-5xl{
    font-size: 3rem;
}

.font-bold{
    font-weight: 700;
}

.leading-snug{
    line-height: 1.375;
}

.text-white{
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
}  
.text-dark-blue{
    --bg-opacity: 1;
    color: #000434;
    color: rgba(0, 4, 52, var(--text-opacity));
}  
.text-bright-blue{
    --text-opacity: 1;
    color: #0099D8;
    color: rgba(0, 153, 216, var(--text-opacity));
}  
.text-bright-aqua{
    --text-opacity: 1;
    color: #00C6D7;
    color: rgba(0, 198, 215, var(--text-opacity));
}  
.text-bright-yellow{
    --text-opacity: 1;
    color: #FFCB05;
    color: rgba(255, 203, 5, var(--text-opacity));
}
.text-bright-red{
    --text-opacity: 1;
    color: #EF3F4A;
    color: rgba(239, 63, 74, var(--text-opacity));
}
.text-bright-purple{
    --text-opacity: 1;
    color: #8E52A1;
    color: rgba(142, 82, 161, var(--text-opacity));
}
.mb-10{
    margin-bottom: 2.5rem;
}
