.flip {
    width: 140px;
    height: 140px;
    text-align: center;
    perspective: 400px;  
  }
  
  .flip-img {
    width: 100%;
    height: 100%;
    text-align: center;
    perspective: 400px;  
  }

  .flip-content {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }

  /*
  .flip:hover .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
  }
  */

  .flip-front, .flip-back {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;  
    justify-content: center;
  }
  
  .flip-back {
    transform: rotateY(180deg);
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
 }